<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판!!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <h2>게시판!</h2>
    <h4>총 게시물은 <span th:text="${totalPost}"></span> 개 입니다.</h4>


    <table class="table">
        <tr class="table-primary">
            <td>게시물번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>내용</td>
            <td>작성일</td>
            <td>조회수</td>
        </tr>
        <tr th:each="board : ${board}">
            <td th:text="${board.postNumber}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.contents}"></td>
            <td th:text="${board.postDate}"></td>
            <td th:text="${board.views}"></td>
        </tr>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPage)}">
                <a class="page-link" th:href="@{'board?page=' + ${page}}" th:text="${page}"></a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</body>
</html>